ion-loading {
    color: green;
}

.my-custom-class {
    color: green;
}

ion-card {
    box-shadow: none !important
}

ion-toolbar {
    --background: rgb(248, 248, 248);
}

ion-header {
    background-color: rgb(248, 248, 248);
}

.text-top {
    text-align: center;
    margin-top: -18px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.ion-align-self-end {
    margin-top: -18px;
}

.iconText>ion-col>ion-icon {
    margin-left: 25px;
}

.iconText>ion-col>ion-label {
    position: flex;
    font-size: 12px;
    margin-left: 10px;
}