<ion-header>
    <ion-toolbar>
        <ion-back-button slot="start"></ion-back-button>

        <ion-title class="ion-text-center">Add property</ion-title>

        <ion-icon slot="end" size="large" src="assets/icon/deviceTemplate.svg"></ion-icon>

    </ion-toolbar>
</ion-header>

<ion-content>
    <br>

    <div class="properties" line="">
        <div class="property" *ngFor="let property of arrayProperties |keyvalue">
            <mat-expansion-panel details>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <ion-item>
                            <ion-thumbnail size="small" slot="start">
                                <img src="assets/icon/deviceTemplate.svg">
                            </ion-thumbnail>
                            <ion-label>Property</ion-label>
                        </ion-item>
                    </mat-panel-title>

                </mat-expansion-panel-header>
                <ion-card>
                    <ion-item>
                        <ion-label>Name</ion-label>
                        <ion-badge slot="end">{{property.value.name}}</ion-badge>
                    </ion-item>

                    <ion-item>
                        <ion-label>Is writable</ion-label>
                        <ion-badge slot="end">{{property.value.isWritable}}</ion-badge>
                    </ion-item>
                    <ion-item>

                        <ion-label>Is Cloudable</ion-label>
                        <ion-badge slot="end">{{property.value.isCloudable}}</ion-badge>
                    </ion-item>

                </ion-card>
                <!-- <p>Content panel.</p> -->

            </mat-expansion-panel>



        </div>
    </div>

    <form [formGroup]="propertyForm" (ngSubmit)="onSubmit()">
        <ion-item>
            <ion-label position="stacked">Name</ion-label>
            <ion-input type="text" formControlName="name"></ion-input>
            <div class="error" *ngIf="propertyForm.controls.name.errors && propertyForm.controls.name.touched">
                Please fill out this field
            </div>
        </ion-item>
        <ion-item>
            <ion-label>isWritable</ion-label>
            <ion-toggle formControlName="isWritable" class="form-control" checked="true"></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label>isCloudable</ion-label>
            <ion-toggle formControlName="isCloudable" class="form-control" checked="true"></ion-toggle>
        </ion-item>

        <ion-button slot="start" shape="round " fill="solid " type="submit" class="btn btn-block btn-success" [disabled]="!propertyForm.valid">
            Add property
        </ion-button>
        <ion-button slot="end" shape="round " color="danger" size="small" (click)="emptyArray()">Cancel</ion-button>
    </form>
</ion-content>