<ion-header>
    <ion-toolbar>
        <ion-back-button slot="start"></ion-back-button>
        <ion-title class="ion-text-center">Device templates </ion-title>
        <ion-icon slot="end" size="large" src="assets/icon/deviceTemplate.svg"></ion-icon>

    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-text-right">
        <ion-button expand="full" shape="round" fill="outline" [routerLink]="['add-device-template']">+Add device template
            <ion-icon slot="end" size="large" src="assets/icon/deviceTemplate.svg"></ion-icon>
        </ion-button>
    </div>
    <ion-list>
        <ion-list-header>
            <ion-label>List of device templates</ion-label>
        </ion-list-header>
        <ion-item [routerLink]="['profile-device-template']">
            <ion-avatar slot="start">
                <img src="assets/icon/deviceTemplate.svg">
            </ion-avatar>
            <ion-label>Device template 1</ion-label>
        </ion-item>

        <ion-item>
            <ion-avatar slot="start">
                <img src="assets/icon/deviceTemplate.svg">
            </ion-avatar>
            <ion-label>Device template 2</ion-label>
        </ion-item>

        <ion-item>
            <ion-avatar slot="start">
                <img src="assets/icon/deviceTemplate.svg">
            </ion-avatar>
            <ion-label>Device template 3</ion-label>
        </ion-item>
    </ion-list>
</ion-content>