<form [formGroup]="commandForm" (ngSubmit)="onSubmit()">

    <ion-item>
        <ion-label position="stacked">Name</ion-label>
        <ion-input name="name" type="text" formControlName="name"></ion-input>
        <div class="error" *ngIf="commandForm.controls.name.errors && commandForm.controls.name.touched">
            Please fill out this field
        </div>
    </ion-item>
    <ion-item>
        <ion-label>isSynchronous</ion-label>
        <ion-toggle name="isSyn" formControlName="IsSynchronous" checked="true"></ion-toggle>
    </ion-item>
    <br>
    <br>
    <ion-button expand="block " class="save" size="small" fill="solid" type="submit" color="light">Done</ion-button>
</form>