<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="Device template" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-row>
        <ion-col size="4" class="ion-align-self-start">
        </ion-col>
        <ion-col size="4" class="ion-align-self-end">
            <ion-card color="transparent" class="deviceTemplate-card">
                <ion-img src='assets/icon/command.png'></ion-img>
            </ion-card>
        </ion-col>
        <ion-col size="4" class="ion-align-self-center">
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="1" class="ion-align-self-start">
        </ion-col>
        <ion-col size="10" class="ion-align-self-center">
            <ion-list-header>
                <ion-label class="text-top">{{command['Name']}}</ion-label>
            </ion-list-header>
        </ion-col>
        <ion-col size="1" class="ion-align-self-end">
        </ion-col>
    </ion-row>

    <ion-segment value="all" color="tertiary" class="animate__animated animate__slideInUp animate__fast" scrollable="true" mode="md" [(ngModel)]="segmentModel" (ionChange)="segmentChanged($event)" lines="none">
        <ion-segment-button value="profile">
            <ion-icon name="reader-outline"></ion-icon>
            <ion-label>Command profile</ion-label>
        </ion-segment-button>
    </ion-segment>

</ion-header>

<ion-content>
    <div *ngIf="segmentModel === 'profile'">
        <ion-item [hidden]="command['IsSynchronous'] != false">
            <ion-label>Synchronous</ion-label>OFF
        </ion-item>
        <ion-item [hidden]="command['IsSynchronous'] != true">
            <ion-label>Synchronous</ion-label>ON
        </ion-item>
    </div>
</ion-content>