<ion-content>
    <ion-slides pager="true">

        <!-- Slide 1 -->
        <ion-slide>
            <ion-text color="dark">
                <h1>Welcome to IoTAFA</h1>
                <img src="./assets/icon/favicon.png">

                <ion-button (click)="next()" fill="outline" color="dark">Next</ion-button>
            </ion-text>
        </ion-slide>

        <!-- Slide 2 -->
        <ion-slide>
            <ion-text color="dark">
                <h1>IoTAFA</h1>
                <p>Easy life fo all!</p>
                <img sizes="small" src="./assets/icon/favicon.png">

                <ion-button (click)="start() " fill="outline " color="dark ">Start</ion-button>

            </ion-text>
        </ion-slide>

    </ion-slides>
</ion-content>