<ion-header>
    <ion-toolbar>
        <ion-back-button slot="start"></ion-back-button>

        <ion-title class="ion-text-center">Add telemetry</ion-title>

        <ion-icon slot="end" size="large" src="assets/icon/deviceTemplate.svg"></ion-icon>

    </ion-toolbar>
</ion-header>
<ion-content>
    <br>
    <div class="telemetries" line="">
        <div class="telemetry" *ngFor="let telemetry of arrayTelemetries |keyvalue">
            <mat-expansion-panel details>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <ion-item>
                            <ion-thumbnail size="small" slot="start">
                                <img src="assets/icon/deviceTemplate.svg">
                            </ion-thumbnail>
                            <ion-label>Telemetry</ion-label>
                        </ion-item>
                    </mat-panel-title>

                </mat-expansion-panel-header>

                <!--   <ion-item-sliding>
            <ion-item-options side="end">
                <ion-item-option color="danger" (click)="null" expandable>
                    <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding> -->

                <ion-card>
                    <ion-item>
                        <ion-label>Frecuency </ion-label>
                        <ion-badge slot="end">{{telemetry.value.frecuency}}</ion-badge>
                    </ion-item>

                    <ion-item>
                        <ion-label>Unit</ion-label>
                        <ion-badge slot="end">{{telemetry.value.unit}}</ion-badge>
                    </ion-item>
                    <ion-item>

                        <ion-label>Schema</ion-label>
                        <ion-badge slot="end">{{telemetry.value.schema}}</ion-badge>
                    </ion-item>

                </ion-card>
                <!-- <p>Content panel.</p> -->

            </mat-expansion-panel>




        </div>
    </div>

    <form [formGroup]="telemetryForm" (ngSubmit)="onSubmit()">
        <ion-item>
            <ion-label>Frecuency</ion-label>
            <ion-input type="number" formControlName="frecuency" class="form-control" id="frecuency" name="frecuency"></ion-input>

            <div class="error" *ngIf="telemetryForm.controls.frecuency.errors&& telemetryForm.controls.frecuency.touched">
                To add telemetry please fill out this field
            </div>
        </ion-item>


        <ion-item>
            <ion-label>Unit</ion-label>
            <ion-select value="beatsPerMinute" okText="Okay" cancelText="Dismiss" class="form-group" formControlName="unit">
                <div class="error" *ngIf="telemetryForm.controls.unit.errors && telemetryForm.controls.unit.touched">
                    To add telemetry please one of these options
                </div>
                <ion-select-option value="beatsPerMinute">Beats_per_minute</ion-select-option>
                <ion-select-option value="degrees_farenheit">Degrees_farenheit</ion-select-option>
                <ion-select-option value="degrees_celsius">Degrees_celsius</ion-select-option>
                <ion-select-option value="geolocation">Geolocation</ion-select-option>
                <ion-select-option value="percent">Percent</ion-select-option>
                <ion-select-option value="steps">Steps</ion-select-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label>Schema</ion-label>
            <ion-select value="Autogenerated" okText="Okay" cancelText="Dismiss " class="form-group" formControlName="schema">
                <div class="error" *ngIf="telemetryForm.controls.schema.errors && telemetryForm.controls.schema.touched">
                    To add telemetry please one of these options
                </div>
                <ion-select-option value="Autogenerated">Autogenerated</ion-select-option>
                <ion-select-option value="enum">Enum</ion-select-option>
                <ion-select-option value="Integer">Integer</ion-select-option>
                <ion-select-option value="String">String</ion-select-option>
                <ion-select-option value="Double">Double</ion-select-option>
                <ion-select-option value="Boolean">Boolean</ion-select-option>
                <ion-select-option value="Text">Text</ion-select-option>
                <ion-select-option value="Long">Long</ion-select-option>
                <ion-select-option value="Time">Time</ion-select-option>
                <ion-select-option value="Date">Date</ion-select-option>
                <ion-select-option value="Object">Object</ion-select-option>
                <ion-select-option value="OID">OID</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-button expand="block " shape="round " fill="solid " type="submit" class="btn btn-block btn-success" [disabled]="!telemetryForm.valid">Add telemetry</ion-button>
    </form>
</ion-content>