ion-title {
    text-align: left;
    font-size: 22px;
    color: black;
}

ion-toolbar {
    --background: #dceceec77;
}

#logoIOT {
    width: 100px;
    height: 70px;
    align-items: center;
    text-align: center;
    padding-left: 125px;
    padding-bottom: 5px;
}

ion-content {
    --background: #dceceec7;
}