ion-title {
    text-align: Center;
    font-size: 22px;
    color: rgb(84, 135, 230);
}

ion-toolbar {
    --background: #bae98f96;
}

#logoIOT {
    width: 110px;
    height: 80px;
    align-items: center;
    text-align: center;
    padding-left: 132px;
    padding-bottom: 26px;
}

ion-content {
    --background: #c5f19b96;
}