<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Home
        </ion-title>
        <ion-buttons slot="start">
            <ion-menu-button menu="main-menu"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-icon id="logoIOT" src="./assets/icon/logoIOT.svg"></ion-icon>
        <ion-toolbar>

            <ion-title size="large">IoTAFA</ion-title>
        </ion-toolbar>
    </ion-header>

    <app-explore-container name="Admin Dashboard"></app-explore-container>
</ion-content>