.error {
    font-size: small;
    color: tomato;
}

.save {
    border-color: transparent;
    background-color: transparent;
    color: rgba(29, 127, 219, 0.76);
    margin-left: 40px;
    margin-right: 40px;
    font-size: 14px;
}