<ion-item [hidden]="!arrayIsEmpty" line="none">
    <ion-label class="arrayEmpty" color="warning">There is no Adaptation request</ion-label>
</ion-item>

<ion-list>

    <div class="condition" *ngFor="let request of adaptationRequest ">
        <ion-item-sliding #slidingItem>

            <ion-item lines="inset">
                <ion-label *ngIf="request['AccessModeTarget'] == 1"> Auditory</ion-label>
                <ion-label *ngIf="request['AccessModeTarget'] == 2"> Colour</ion-label>
                <ion-label *ngIf="request['AccessModeTarget'] == 3"> ItemSize</ion-label>
                <ion-label *ngIf="request['AccessModeTarget'] == 4"> Olfactory</ion-label>
                <ion-label *ngIf="request['AccessModeTarget'] == 5"> Orientation</ion-label>
                <ion-label *ngIf="request['AccessModeTarget'] == 6"> Position</ion-label>
                <ion-label *ngIf="request['AccessModeTarget'] == 7"> Tactile</ion-label>
                <ion-label text-wrap *ngIf="request['AccessModeTarget'] == 8"> Text on image</ion-label>
                <ion-label *ngIf="request['AccessModeTarget'] == 9"> Textual</ion-label>
                <ion-label *ngIf="request['AccessModeTarget'] == 10"> Visual</ion-label>


                <ion-note *ngIf="request['LanguageOfAdaptation'] == 1">Language: ES</ion-note>
                <ion-note *ngIf="request['LanguageOfAdaptation'] == 2">Language: EN</ion-note>
                <ion-note *ngIf="request['LanguageOfAdaptation'] == 3">Language: FR</ion-note>
                <ion-note *ngIf="request['LanguageOfAdaptation'] == 4">Language: IT</ion-note>
                <ion-note *ngIf="request['LanguageOfAdaptation'] == 5">Language: PR</ion-note>
                <ion-note *ngIf="request['LanguageOfAdaptation'] == 6">Language: DE</ion-note>
                <ion-note *ngIf="request['LanguageOfAdaptation'] == 7">Language: JA</ion-note>
                <ion-note *ngIf="request['LanguageOfAdaptation'] == 8">Language: KO</ion-note>
                <ion-note *ngIf="request['LanguageOfAdaptation'] == 9">Language: ZH</ion-note>

                <ion-note slot="end">{{request['Description']}}</ion-note>
            </ion-item>
            <ion-item-options side="end" (ionSwipe)="deleteAdaptationRequest(slidingItem, request['Id'])">

                <ion-item-option color="danger" expandable (click)="deleteAdaptationRequest(slidingItem, request['Id'])">
                    <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
                </ion-item-option>

            </ion-item-options>
            <ion-item-options side="start">

                <ion-item-option color="success" (click)="closeSliding(slidingItem)" expandable [routerLink]="['editCondition',request['Id']]">

                    <ion-icon slot="icon-only" name="pencil-outline"></ion-icon>

                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </div>
</ion-list>