<ion-header>
    <ion-toolbar>
        <ion-back-button slot="start"></ion-back-button>

        <ion-title class="ion-text-center">Add command</ion-title>

        <ion-icon slot="end" size="large" src="assets/icon/deviceTemplate.svg"></ion-icon>

    </ion-toolbar>
</ion-header>
<ion-content>
    <form [formGroup]="commandForm" (ngSubmit)="onSubmit()">

        <ion-item>
            <ion-label position="stacked">Name</ion-label>
            <ion-input name="name" type="text" formControlName="name"></ion-input>
            <div class="error" *ngIf="commandForm.controls.name.errors && commandForm.controls.name.touched">
                Please fill out this field
            </div>
        </ion-item>
        <ion-item>
            <ion-label>isSynchronous</ion-label>
            <ion-toggle name="isSyn" formControlName="IsSynchronous" checked="true"></ion-toggle>
        </ion-item>
        <ion-button expand="block " type="submit " shape="round " fill="solid " type="submit" class="btn btn-block btn-success">Save command</ion-button>
    </form>
</ion-content>