<ion-header>

    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="Telemetries" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button>
            </ion-button>
        </ion-buttons>

    </ion-toolbar>
    <ion-row>
        <ion-col size="4" class="ion-align-self-start">

        </ion-col>
        <ion-col size="4" class="ion-align-self-end">
            <ion-card color="transparent" class="deviceTemplate-card">
                <ion-img src='assets/icon/deviceTemp.png'></ion-img>

            </ion-card>
        </ion-col>
        <ion-col size="4" class="ion-align-self-center">
        </ion-col>

    </ion-row>
    <ion-row>
        <ion-col size="1" class="ion-align-self-start">

        </ion-col>
        <ion-col size="10" class="ion-align-self-center">

            <ion-list-header>
                <ion-label class="text-top">Edit Telemetry</ion-label>
            </ion-list-header>

        </ion-col>
        <ion-col size="1" class="ion-align-self-end">

        </ion-col>

    </ion-row>
    <ion-segment value="all" color="tertiary" scrollable="true" mode="md" [(ngModel)]="segmentModel" (ionChange)="segmentChanged($event)" lines="none">
        <ion-segment-button value="deviceTemplate">
            <ion-icon name="reader-outline"></ion-icon>
            <ion-label>Profile</ion-label>
        </ion-segment-button>

    </ion-segment>
</ion-header>
<ion-content>
    <br>
    <form [formGroup]="telemetryForm" (ngSubmit)="onSubmit()">
        <ion-item>
            <ion-label position="stacked">Telemetry name</ion-label>
            <ion-input type="text" formControlName="name" class="form-control"></ion-input>
            <div class="error" *ngIf="telemetryForm.controls.name.errors && telemetryForm.controls.name.touched">
                To add Telemetry please fill out this field
            </div>
        </ion-item>
        <ion-item>
            <ion-label>Frecuency</ion-label>
            <ion-input type="number" formControlName="frecuency" class="form-control" id="frecuency" name="frecuency"></ion-input>

            <div class="error" *ngIf="telemetryForm.controls.frecuency.errors&& telemetryForm.controls.frecuency.touched">
                To add telemetry please fill out this field
            </div>
        </ion-item>


        <ion-item>
            <ion-label>Unit</ion-label>
            <ion-select value="{{unit}}" okText="Okay" cancelText="Dismiss" class="form-group" formControlName="unit">
                <div class="error" *ngIf="telemetryForm.controls.unit.errors && telemetryForm.controls.unit.touched">
                    To add telemetry please select the appropriate option
                </div>
                <ion-select-option value="1">Percent</ion-select-option>
                <ion-select-option value="2">Degrees_farenheit</ion-select-option>
                <ion-select-option value="3">Degrees_celsius</ion-select-option>
                <ion-select-option value="4">Geolocation</ion-select-option>
                <ion-select-option value="5">Steps</ion-select-option>
                <ion-select-option value="6">Beats_per_minute</ion-select-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label>Schema</ion-label>
            <ion-select value="{{schema}}" okText="Okay" cancelText="Dismiss " class="form-group" formControlName="schema">
                <div class="error" *ngIf="telemetryForm.controls.schema.errors && telemetryForm.controls.schema.touched">
                    To add telemetry please select the appropriate option
                </div>
                <ion-select-option value="1">Autogenerated</ion-select-option>
                <ion-select-option value="2">Enum</ion-select-option>
                <ion-select-option value="3">Integer</ion-select-option>
                <ion-select-option value="4">String</ion-select-option>
                <ion-select-option value="5">Double</ion-select-option>
                <ion-select-option value="6">Boolean</ion-select-option>
                <ion-select-option value="7">Text</ion-select-option>
                <ion-select-option value="8">Long</ion-select-option>
                <ion-select-option value="9">Time</ion-select-option>
                <ion-select-option value="10">Date</ion-select-option>
                <ion-select-option value="11">Object</ion-select-option>
                <ion-select-option value="12">OID</ion-select-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label>Type</ion-label>
            <ion-select value="{{type}}" okText="Okay" cancelText="Dismiss" class="form-group" formControlName="type">
                <div class="error" *ngIf="telemetryForm.controls.type.errors && telemetryForm.controls.type.touched">
                    To add telemetry please select the appropriate option
                </div>
                <ion-select-option value="1">state</ion-select-option>
                <ion-select-option value="2">event</ion-select-option>
                <ion-select-option value="3">location</ion-select-option>
                <ion-select-option value="4">sensor</ion-select-option>

            </ion-select>
        </ion-item>
        <ion-button expand="block " class="save" size="small" fill="solid" type="submit" color="light" [disabled]="!telemetryForm.valid">Submit</ion-button>


    </form>
    <ion-item detail [routerLink]="['SpecificTelemetry']">
        <ion-label>Specific Telemetry</ion-label>
    </ion-item>

</ion-content>